.response-msg {
	margin-left: 15px;
}

.glyphicon-refresh {
	position: relative;
	top: 3px;
	left: -5px;
    animation: spin 2s linear infinite;

    &.large {
	    font-size: 100px;
	    padding: 20px;
	    color: #DDD;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}